@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Send+Flowers&display=swap');

h1{
    font-family: "Rakkas", serif;
    font-size: 70px;
    align-items:flex-start!important;
}
.contenedor_body{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "header header"
                        "nav aside"
                        "main aside"
                        "footer footer";
}
form input,button,label,select,option{
    margin:5px;
}
form fieldset{
    border: solid gray 3px;
    padding: 5px;
}
form button{
    margin-top: 10px;
}
form{
    text-align: center;
}
.contenedor_principal{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "header header"
                        "nav aside"
                        "main aside"
                        "footer footer";
}
body, header ,nav, main, footer,article{
    background: radial-gradient(#b97ee9, #230e34ac);
    padding: 5px;
}
main{
    grid-area: main;
}
button a{
    text-decoration: none;
    padding: 1px;
    font-size: medium;
    color: black;
}
ul li a{
    text-decoration: none;
    color: black;
}
button a:hover{
    background-color: #484849ac;
    color: beige;
}

.imgheader {
    width:40px ;
    height: 40px;
}
.itemnav{
    background: radial-gradient(#b97ee9, #baa4cdac);
    border-radius: 10%;
    border: none;
}
header{
    grid-area: header;
}
.contenedor_header{
    display: flex;
    padding-top: 15px;
    justify-content: space-around;
    align-items: flex-start;
}
.contenedor_productos{
    display: flex;
    padding-top: 2%;
}
aside{
    grid-area: aside;
    background: radial-gradient(#b97ee9, #baa4cdac);
    padding: 2%;
}

.marcas{
    width: 98%;
}
.contenedor_productos2{
    display: flex;
    padding-top: 2%;
}
.contenedor_nav{
    justify-content: space-around;
    grid-area: nav;
    display: flex;
}
.altura{
    height:390px;
    width: 390px;
}
ul li{
    margin: 10px;
    color: rgb(26, 28, 26);
    font-weight: bold;
}
div{
    justify-content: center;
    text-align: center;
}
.item p{
    text-align: center;
}
.item img{
    width:70% ;
    height: 70%;
}
iframe {
    width: 100px;
    height: 50px;
}
  
/* Pantallas de 320px o superior */
@media (min-width: 320px) {
    iframe {
      width: 200px;
      height: 150px;
    }
}
  